.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


.btn {
    border: 2px solid #127692;
    border-radius: 5px;
    margin: 15px;
    background-color: #61dafb;
    font-size: 2rem;
    width: 100px;
    text-align: center;
}

.list {
    border: 3px solid rgb(0, 200, 170);
    box-sizing: border-box;
    margin-top: unset;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

.close {
    line-height: 1;
    font-size: 10px !important;
    display: block;
    height: 4rem;
    width: 4rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: url(https://cdn-blog.novoresume.com/career-blog/images/icons/thin-x.svg);
}